/* GENERICS */

* {
    margin: 0; /*Aggiungo queste regole perchè richieste*/
    padding: 0; /*Aggiungo queste regole perchè richieste*/
    box-sizing: border-box; /*Aggiungo queste regole perchè richieste*/
}

body {
    font-size: 26px;
}

/* HEADER */


header {
    height: 145px;
    background-color: blue;
    background-image: url(../img/pattern.png);
    background-size: 590px;
    position: relative;
}

#logo-header {
    width: 275px;
    position: absolute;
    bottom: 15px;
    margin: 0 10px 0 10px;
}

/* MAIN CONTENT */

main {
    margin: 30px 10px 30px 10px;
}

h1 {
    font-size: 63px;
    margin: 0 0 10px 0;
}

#special {
    color: blue;
}

.gray-text {
    color: gray;
}

.font-style-normal {
    font-style: normal;
}

.small-text {
    font-size: 18px;
}

figure {
    margin: 20px 0 20px 0;
}

/* UNORDERED LIST */

ul {
    margin: 40px 15px 40px 15px;
}

/* TABLE */

table {
    margin: 0 10px 0 10px;
    border-collapse: collapse;

}

thead {
    background-color: blue;
    color: white;
}

tbody {
    background-color: aquamarine;
}

.even {
    background-color: white;
}

.w-50 {
    width: 50%;
}

main>p {
    margin: 30px 0px 30px 0px;
}

/* FOOTER */

footer {
    margin: 10px;
}

/* Si può fare una classe unica per entrambi i image-box e inserire l'immagine con un ID */

#image-box-1 {
    width: 312px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
    margin: 10px 0 10px 0;
}

#image-box-2 {
    width: 312px;
    height: 208px;
    background-image: url(../img/graph.jpg);
    margin: 10px 0 10px 0;
}

.image-box-text {
    color: white;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}