* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 26px;
}

header {
    height: 145px;
    background-color: blue;
    background-image: url(../img/pattern.png);
    background-size: 590px;
    position: relative;
}

#logo-header {
    width: 275px;
    position: absolute;
    bottom: 15px;
    margin: 0 10px 0 10px;
}

main {
    margin: 30px 10px 30px 10px;
}

h1 {
    font-size: 63px;
}

#special {
    color: blue;
}

.gray-text {
    color: gray;
}

.font-style-normal {
    font-style: normal;
}

.small-text {
    font-size: 18px;
}

figure {
    margin: 20px 0 20px 0;
}

ul {
    margin: 40px 15px 40px 15px;
}